# Ignore terraform state files as they can have sensitive info
**.tfstate

# Ignore .terraform files because they have local symlinks and "stuff."
**.terraform

# Ignore backup file
**terraform.tfstate.backup

# Ignore environment files
**.env

# Ignore node_modules
**node_modules


# Ignore virtual environments
**venv